<div class="vertical-menu">

    <div class="h-100">

        <div class="user-wid text-center py-4">
            <div class="user-img">
                <img src="assets/images/users/default-avatar.png" alt="" class="avatar-md mx-auto rounded-circle">
            </div>

            <div class="mt-3">

                <a href="#" class="text-dark fw-medium font-size-16">{{data.current_login.admiName}}</a>
                <p class="text-body mt-1 mb-0 font-size-13">{{data.current_login.adminPhone}}</p>

            </div>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Utama</li>

                <li {{#ifEquals data.curent_pages "dashboard" }}class="mm-active" {{/ifEquals}}>
                    <a href="/" class=" {{#ifEquals data.curent_pages " dashboard"}}active{{/ifEquals}} ">
                        <i class=" mdi mdi-airplay {{#ifEquals data.curent_pages "dashboard"
                        }}active{{/ifEquals}}"></i>
                        <span>Dashboard</span></a>
                </li>

                <li {{#ifEquals data.curent_pages "list-plan" }}class="mm-active" {{/ifEquals}}>
                    <a href="?pages=list-plan" class=" {{#ifEquals data.curent_pages " list-plan"}}active{{/ifEquals}} ">
                        <i class=" mdi mdi-format-list-bulleted-triangle {{#ifEquals data.curent_pages "list-plan"
                        }}active{{/ifEquals}}"></i>
                        <span>Plan</span></a>
                </li>

                <li {{#ifEquals data.curent_pages "list-user" }}class="mm-active" {{/ifEquals}}>
                    <a href="?pages=list-user" class=" {{#ifEquals data.curent_pages " list-user"}}active{{/ifEquals}} ">
                                        <i class=" mdi mdi-account-group {{#ifEquals data.curent_pages "list-user"
                        }}active{{/ifEquals}}"></i>
                        <span>Users</span></a>
                </li>

                <li class="menu-title">Components</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi mdi-settings"></i>
                        <span>Settings</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="icons-boxicons.html">Admin User</a></li>
                        <li><a href="icons-materialdesign.html">Material Design</a></li>
                        <li><a href="icons-dripicons.html">Dripicons</a></li>
                        <li><a href="icons-fontawesome.html">Font awesome</a></li>
                    </ul>
                </li>

                <li {{#ifEquals data.curent_pages "logout" }}class="mm-active" {{/ifEquals}}>
                    <form id="logout" action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <a href="#" onclick="document.getElementById('logout').submit()">
                            <i class=" mdi mdi-logout-variant"></i>
                            <span>Logout</span></a>
                    </form>
                </li>


            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>